<% @entry = Entry.all %>

<p>Entries:</p>

<ul>
<p>
<% for entry in @entry %>
 <li><%= entry ["title"]%>
 <%= entry ["descrition"]%>
 <%= entry ["occurred_on"]%>
 <%= entry ["place_id"]%>
 </li>
  <% end %>
  </p>
<p>
  <a href="/entries/new">New Entry</a>
  </p>
</ul>
