<% @places = Place.all %>
<h1>Places I've Been</h1>
<p>Cities:</p>
<ul>
<p>
<% for place in @places %>
 <li><%= place ["name"]%></li>
  <% end %>
  </p>
<p>
  <a href="/place">New Places</a>
  </p>
</ul>
