<h1><%= @place["name"] %></h1>


<h3>Entries:</h3>

<ul>
  <% for entry in @entries %>
    <li><%= entry["title"] %> <%= entry["description"] %></li>
  <% end %>
</ul>

<p>
  <a href="/entry/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>