<% @place = Place.all %>
<h1>Places I've Been</h1>
<p>Cities:</p>
<ul>
<p>
<% for place in @place %>
 <li>
      <a href="/places/<%= place["id"] %>">
        <%= place["name"] %>
      </a>
    </li>
  <% end %>
  </p>
<p>
  <a href="/places/new">New Places</a>
  </p>
</ul>